new-zealand-vehicle-theft-pip-adf-012/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "new-zealand-vehicle-theft-pip-adf-012"
		},
		"Lin_ser_for_adls_gen_sink_data_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Lin_ser_for_adls_gen_sink_data'"
		},
		"AzureKeyVault1_for_on_prem_password_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://on-prem-local-credential.vault.azure.net/"
		},
		"Lin_ser_for_adls_gen_sink_data_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://newzealandstorageacount.dfs.core.windows.net/"
		},
		"Lin_ser_for_on_prem_service_source_data_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "@{linkedService().Sourcepath}"
		},
		"Lin_ser_for_on_prem_service_source_data_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "syamm"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Dataset_for_source_config_details_from_adls_container",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "FileServerReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "source_on_prem_dataset",
											"type": "DatasetReference",
											"parameters": {
												"directoryname": {
													"value": "@item().directoryname",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().filename",
													"type": "Expression"
												},
												"Sourcepath": {
													"value": "@item().Sourcepath",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sink_cloud_dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Dataset_for_source_config_details_from_adls_container')]",
				"[concat(variables('factoryId'), '/datasets/source_on_prem_dataset')]",
				"[concat(variables('factoryId'), '/datasets/sink_cloud_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataset_for_source_config_details_from_adls_container')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lin_ser_for_adls_gen_sink_data",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "configuration.txt",
						"fileSystem": "configuration"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Sourcepath",
						"type": "String"
					},
					{
						"name": "directoryname",
						"type": "String"
					},
					{
						"name": "filename",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lin_ser_for_adls_gen_sink_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink_cloud_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lin_ser_for_adls_gen_sink_data",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "incoming",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lin_ser_for_adls_gen_sink_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/source_on_prem_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lin_ser_for_on_prem_service_source_data",
					"type": "LinkedServiceReference",
					"parameters": {
						"Sourcepath": {
							"value": "@dataset().Sourcepath",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"directoryname": {
						"type": "String"
					},
					"filename": {
						"type": "String"
					},
					"Sourcepath": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directoryname",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lin_ser_for_on_prem_service_source_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1_for_on_prem_password')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_for_on_prem_password_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lin_ser_for_adls_gen_sink_data')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Lin_ser_for_adls_gen_sink_data_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Lin_ser_for_adls_gen_sink_data_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lin_ser_for_on_prem_service_source_data')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"Sourcepath": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('Lin_ser_for_on_prem_service_source_data_properties_typeProperties_host')]",
					"userId": "[parameters('Lin_ser_for_on_prem_service_source_data_properties_typeProperties_userId')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1_for_on_prem_password",
							"type": "LinkedServiceReference"
						},
						"secretName": "on-prem-password",
						"secretVersion": "eafba0f0035a4d0cb67153614264f9ec"
					}
				},
				"connectVia": {
					"referenceName": "Newzealand-self-hosted-integration-Runtime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Newzealand-self-hosted-integration-Runtime1')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1_for_on_prem_password')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Newzealand-self-hosted-integration-Runtime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}